@using Inventory.Domain.Entities
@model IEnumerable<StockTransaction>

@{
    ViewData["Title"] = "Stock Transactions";
}

<h2>Stock Transactions</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Quantity After</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>

                <td>
                    @item.Product?.Name
                </td>

                <td>
                    @item.TransactionType.ToString()
                </td>

                <td>
                    @item.Quantity
                </td>

                <td>
                    @item.Product?.QuantityOfStock
                </td>
            </tr>
        }
    </tbody>
</table>